@import url(/Users/mac/dev/Lubimovka/vendor/font/stylesheet.css);
.body {
  margin: 0 auto;
  font-family: 'Formular';
  background-color: #ECEBE8;
  max-width: 1440px;
  color: #242424;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-top: 15px;
  margin-bottom: 11px;
  margin-left: 30px;
  margin-right: 25px;
}

.header__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 44px;
          column-gap: 44px;
  row-gap: 20px;
}

.header__about-text {
  list-style-type: none;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.header__about-text-link {
  color: black;
  text-decoration: none;
}

.header__about-text:last-child {
  margin-right: 0;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  row-gap: 20px;
}

.header__nav {
  border-right: 1px solid #242424;
  border-left: 1px solid #242424;
  padding-left: 24px;
  padding-right: 26px;
}

.header__link {
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.header__link-text {
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: black;
}

.header__link:last-child {
  margin-right: 0;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.header__button-text {
  margin: 0;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.header__project {
  margin-left: 40px;
  margin-top: 42px;
  background-color: transparent;
}

.header__project-button {
  border: none;
  border-right: 1px solid #242424;
  border-bottom: 1px solid #242424;
  padding: 0;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  padding-left: 7px;
  background-color: transparent;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #242424;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1330px) {
  .header__about {
    padding-bottom: 10px;
  }
  .header__links {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 901px) {
  .header__about {
    display: none;
  }
  .header__project {
    margin: 0;
    margin-left: 19px;
  }
  .header__links {
    display: none;
  }
  .header__container {
    border: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav {
    border: none;
    padding: 0;
  }
  .header__button {
    display: none;
  }
}

.play {
  padding: 68px 30px 144px 182px;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
}

.play li {
  list-style-type: none;
}

.play__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.play__title {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  margin: 0;
}

.play__autors {
  margin: 0;
  padding: 0;
  max-width: 420px;
}

.play__position {
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 1.38;
}

.play__position-name {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  -webkit-font-feature-settings: "ss01" on;
          font-feature-settings: "ss01" on;
  margin: 4px 0;
  padding-left: 28px;
}

.play__video {
  margin-bottom: 66px;
  background-color: #ecebe8;
}

.play__description {
  max-width: 602px;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.play__description-part {
  margin: 0 0 28px 0;
  text-indent: 60px;
}

.play__description-part:last-of-type {
  margin: 0;
}

.play__description-part:first-of-type {
  text-indent: 0;
}

.play__ticket {
  width: 240px;
}

.play__ticket-info {
  background-color: #b7c09d;
  min-height: 300px;
}

.play__ticket-title {
  padding: 24px 31px 136px 24px;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin: 80px 0 0 0;
}

.play__btn {
  width: 100%;
  background-color: #b7c09d;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-top: #242424 1px solid;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
}

.play__btn:hover {
  background-color: #242424;
  color: #fff;
}

.play__btn:hover .play__btn-up {
  background-image: url("./image/icon/arrow-45-white.svg");
}

.play__btn:hover .play__btn-down {
  background-image: url("./image/icon/arrow-down-white.svg");
}

.play__btn-title {
  font-size: 16px;
  line-height: 1.38;
  margin: 0;
  text-align: start;
}

.play__btn-up {
  background-image: url("./image/icon/arrow-45.svg");
  width: 25px;
  height: 25px;
  display: inline;
}

.play__btn-down {
  background-image: url("./image/icon/arrow-down.svg");
  width: 25px;
  height: 25px;
}

.play__ticket-name {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin: 17px 0 0 0;
}

.play__ticket-city {
  font-size: 16px;
  line-height: 1.38;
  margin: 4px 0 0 0;
}

@media screen and (max-width: 1300px) {
  .play__autors {
    width: 314px;
  }
}

@media screen and (max-width: 1100px) {
  .play__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .play__info {
    min-height: 576px;
    width: 100%;
    background-color: #fff;
    padding: 58px 20px 0 27px;
  }
  .play__autors {
    max-width: 337px;
  }
  .play__video {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
  .play__video-container {
    position: relative;
    padding-top: 56%;
  }
  .play__video-container:before {
    display: block;
    content: "";
    width: 100%;
  }
  .play__about {
    padding: 24px;
  }
  .play__description {
    margin-top: 24px;
  }
  .play__ticket {
    margin: 0 auto;
  }
  .play__description {
    margin: 24px auto 0;
  }
}

@media screen and (max-width: 1360px) {
  .play {
    padding-left: 46px;
  }
}

@media screen and (max-width: 1100px) {
  .play {
    padding: 0;
  }
}
/*# sourceMappingURL=index.css.map */