.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #242424;
  &__logo {
    margin-top: 15px;
    margin-bottom: 11px;
    margin-left: 30px;
    margin-right: 25px;
  }

  &__about {
    display: flex;
    text-decoration: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 44px;
    row-gap: 20px;
  }

  &__about-text  {
    list-style-type: none;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }

  &__about-text-link  {
    color: black;
    text-decoration: none;
  }

  &__about-text:last-child {
    margin-right: 0;
  }

  &__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 20px;
  }

  &__nav {
    border-right: 1px solid #242424;
    border-left: 1px solid #242424;
    padding-left: 24px;
    padding-right: 26px;
  }

  &__link {
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
  }

  &__link-text {
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: black;
  }

  &__link:last-child {
    margin-right: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__button-text {
    margin: 0;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }
  @media screen and (max-width: 1330px) {
    &__about {
      padding-bottom: 10px;
    }
    &__links {
      padding-bottom: 10px;
    }
  }
  @media screen and (max-width: 950px) {
    &__about {
      display: none;
    }
    &__links {
      display: none;
    }
    & {
      border: none;
      justify-content: flex-start;
    }
    &__nav {
      border: none;
      padding: 0;
    }
  }
}
