.play {
  padding: 68px 30px 144px 182px;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;

  li {
    list-style-type: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: "Neue Machina";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.01em;
    margin: 0;
  }

  &__autors {
    margin: 0;
    padding: 0;
    max-width: 420px;
  }

  &__position {
    margin: 20px 0 0 0;
    font-size: 16px;
    line-height: 1.38;
  }

  &__position-name {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    font-feature-settings: "ss01" on;
    margin: 4px 0;
    padding-left: 28px;
  }

  &__video {
    margin-bottom: 66px;
    background-color: #ecebe8;
  }

  &__description {
    max-width: 602px;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
  }

  &__description-part {
    margin: 0 0 28px 0;
    text-indent: 60px;
  }

  &__description-part:last-of-type {
    margin: 0;
  }

  &__description-part:first-of-type {
    text-indent: 0;
  }

  &__ticket {
    width: 240px;
  }

  &__ticket-info {
    background-color: #b7c09d;
    min-height: 300px;
  }

  &__ticket-title {
    padding: 24px 31px 136px 24px;
    font-family: "Neue Machina";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin: 80px 0 0 0;
  }

  &__btn {
    width: 100%;
    background-color: #b7c09d;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-top: #242424 1px solid;
    font-family: "Formular";
    font-style: normal;
    font-weight: 300;
  }

  &__btn:hover {
    background-color: #242424;
    color: #fff;
  }

  &__btn:hover &__btn-up {
    background-image: url("./image/icon/arrow-45-white.svg");
  }

  &__btn:hover &__btn-down {
    background-image: url("./image/icon/arrow-down-white.svg");
  }

  &__btn-title {
    font-size: 16px;
    line-height: 1.38;
    margin: 0;
    text-align: start;
  }

  &__btn-up {
    background-image: url("./image/icon/arrow-45.svg");
    width: 25px;
    height: 25px;
    display: inline;
  }

  &__btn-down {
    background-image: url("./image/icon/arrow-down.svg");
    width: 25px;
    height: 25px;
  }

  &__ticket-name {
    font-family: "Neue Machina";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin: 17px 0 0 0;
  }

  &__ticket-city {
    font-size: 16px;
    line-height: 1.38;
    margin: 4px 0 0 0;
  }

  @media screen and (max-width: 1100px) {
    &__container {
      flex-direction: column;
      width: 100%;
    }

    &__info {
      min-height: 576px;
      width: 100%;
      background-color: #fff;
      padding: 58px 20px 0 27px;
    }

    &__autors {
      max-width: 337px;
    }

    &__video {
      position: absolute;
      width: 100%;
      margin: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
    }

    &__video-container {
      position: relative;
      padding-top: 56%;

      &:before {
        display: block;
        content: "";
        width: 100%;
      }
    }

    &__about {
      padding: 24px;
    }

    &__description {
      margin-top: 24px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .play {
    padding: 0;
  }
}
